<div>
  <div class="flex">
    <h3>Comments</h3>
    <button class="vote" onclick="displayVote()">VOTE/COMMENT</button>
  </div>
  <div class="main-container">
    <div id="filters">
      <a class="filter activeLink" onclick="loadComments('all')">All</a>
      <a class="filter" onclick="loadComments('mbti')">MBTI</a>
      <a class="filter" onclick="loadComments('enneagram')">Enneagram</a>
      <a class="filter" onclick="loadComments('zodiac')">Zodiac</a>
    </div>
  
    <div class="toggles">
      <button class="toggleButton activeToggle best" onclick="showBest()">best</button>
      <button class="toggleButton recent" onclick="showRecent()">recent</button>
    </div>
    
    <div id="comment-section">
      <div class="create-comment">
        <div class="row sqs-row">
          <img src="https://img.thedailybeast.com/image/upload/dpr_2.0/c_crop,h_1688,w_1688,x_694,y_0/c_limit,w_128/d_placeholder_euli9k,fl_lossy,q_auto/v1642795426/johnny_depp_zwjvzb" class="col sqs-col">
          <div class="col sqs-col">
            <p class="name">Johnny Depp</p>
          </div>
        </div> 

        <form id="createComment">
          <div class="comment-content">
            <div class="comment-description">
              <textarea id="title-form" rows="2" cols="20">Title</textarea>
            </div>
          </div>
          
          <div class="tags row sqs-row">
            <div class="tag-box col sqs-col">
              <select id="mbti-form selection" class="op-30 op1" onclick="changeOpacity('op1')">
              <option value="" selected disabled hidden class="default-value">MBTI</option>
              <option value="INFP">INFP</option>
              <option value="INFJ">INFJ</option>
              <option value="ENFP">ENFP</option>
              <option value="ENFJ">ENFJ</option>
              <option value="INTJ">INTJ</option>
              <option value="INTP">INTP</option>
              <option value="ENTP">ENTP</option>
              <option value="ENTJ">ENTJ</option>
              <option value="ISFP">ISFP</option>
              <option value="ISFJ">ISFJ</option>
              <option value="ESFP">ESFP</option>
              <option value="ESFJ">ESFJ</option>
              <option value="ISTP">ISTP</option>
              <option value="ISTJ">ISTJ</option>
              <option value="ESTP">ESTP</option>
              <option value="ESTJ">ESTJ</option>
            </select>
            </div>
          
            <div class="tag-box col sqs-col fake">
        
                <!-- <form class="space" action=""> -->
                  <input type="radio" class="radio" id="item-0" name="radioValue" value="" checked="checked">
                  <input type="radio" class="radio" id="item-1" name="radioValue" value="1" onclick="replaceValue('item-1', '1', '2')">
                  <input type="radio" class="radio" id="item-2" name="radioValue" value="2" onclick="replaceValue('item-2', '2', '3')">
                  <input type="radio" class="radio" id="item-3" name="radioValue" value="3" onclick="replaceValue('item-3', '3', '2')">
                  <input type="radio" class="radio" id="item-4" name="radioValue" value="4" onclick="replaceValue('item-4', '3', '4')">
                  <input type="radio" class="radio" id="item-5" name="radioValue" value="5" onclick="replaceValue('item-5', '4', '3')">
                  <input type="radio" class="radio" id="item-6" name="radioValue" value="6" onclick="replaceValue('item-6', '4', '5')">
                  <input type="radio" class="radio" id="item-7" name="radioValue" value="7" onclick="replaceValue('item-7', '5', '4')">
                  <input type="radio" class="radio" id="item-8" name="radioValue" value="8" onclick="replaceValue('item-8', '5', '6')">
                  <input type="radio" class="radio" id="item-9" name="radioValue" value="9" onclick="replaceValue('item-9', '6', '5')">
                  <input type="radio" class="radio" id="item-10" name="radioValue" value="10" onclick="replaceValue('item-10', '6', '7')">
                  <input type="radio" class="radio" id="item-11" name="radioValue" value="11" onclick="replaceValue('item-11', '7', '6')">
                  <input type="radio" class="radio" id="item-12" name="radioValue" value="12" onclick="replaceValue('item-12', '7', '8')">
                  <input type="radio" class="radio" id="item-13" name="radioValue" value="13" onclick="replaceValue('item-13', '8', '7')">
                  <input type="radio" class="radio" id="item-14" name="radioValue1" value="14" onclick="replaceValue('item-14', '8', '9')">
                  <input type="radio" class="radio" id="item-15" name="radioValue" value="15" onclick="replaceValue('item-15', '9', '8')">
                  <input type="radio" class="radio" id="item-16" name="radioValue" value="16" onclick="replaceValue('item-16', '9', '1')">
              
            
            
                  <div class="select_box">
                    <span id="select-op-btn" class="default js-option op-30 op2" onclick="changeBorder();changeOpacity('op2')" onblur="revertBorder()">Enneagram</span>
                    <ul id="options" class="js-drop">
                      <li><label for="item-1" class="js-option">1 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 2</label></li>
                      <li><label for="item-2" class="js-option">2 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 3</label></li>
                      <li><label for="item-3" class="js-option">3 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 2</label></li>
                      <li><label for="item-4" class="js-option">3 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 4</label></li>
                      <li><label for="item-5" class="js-option">4 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 3</label></li>
                      <li><label for="item-6" class="js-option">4 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 5</label></li>
                      <li><label for="item-7" class="js-option">5 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 4</label></li>
                      <li><label for="item-8" class="js-option">5 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 6</label></li>
                      <li><label for="item-9" class="js-option">6 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 5</label></li>
                      <li><label for="item-10" class="js-option">6 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 7</label></li>
                      <li><label for="item-11" class="js-option">7 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 6</label></li>
                      <li><label for="item-12" class="js-option">7 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 8</label></li>
                      <li><label for="item-13" class="js-option">8 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 7</label></li>
                      <li><label for="item-14" class="js-option">8 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 9</label></li>
                      <li><label for="item-15" class="js-option">9 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 8</label></li>
                      <li><label for="item-16" class="js-option last">9 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 1</label></li>
                    </ul>
                  </div>

                  
                <!-- </form> -->
            
            </div>
            
            <div class="tag-box col sqs-col zodiac-last">
              <select id="zodiac-form selection" class="op-30 op3" onclick="changeOpacity('op3')">
                <option value="" selected disabled hidden class="default-value">Zodiac</option>
                <option value="Aries">Aries</option>
                <option value="Taurus">Taurus</option>
                <option value="Gemini">Gemini</option>
                <option value="Cancer">Cancer</option>
                <option value="Leo">Leo</option>
                <option value="Virgo">Virgo</option>
                <option value="Libra">Libra</option>
                <option value="Scorpio">Scorpio</option>
                <option value="Sagittarius">Sagittarius</option>
                <option value="Capricorn">Capricorn</option>
                <option value="Aquarius">Aquarius</option>
                <option value="Pisces">Pisces</option>
              </select>
            </div>
          </div>
          
          <div class="comment-content">
            <textarea id="write-form" rows="5" cols="35">Comment Here</textarea>
          </div>
          <img class="submit-btn" onclick="submitForm()" src="https://i.ibb.co/tC18VL6/Image-from-i-OS-5.png"><br>
        </form>

      </div>
      <div class="no-comments">No Data Found</div>
      <div class="loader"></div>
    </div>
  </div>
</div>

<style scoped>
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vote {
  width: 245px;
  height: 60px;
  color: white;
  background: #4EDCD8;
  border-radius: 50px;
  border: none;
}
.toggles {
  margin-top: 20px;
}
#filters {
  margin-top: 24px;
}
#filters a {
  padding: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.activeLink, a:hover {
  color: #4EDCD8;
}
.toggleButton, .activeToggle {
  width: 88px;
  height: 42px;
  border: none;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.activeToggle {
  background: #4EDCD8;
  box-shadow: 0px 0px 10px #4EDCD8;
  color:  #FFFFFF
}
.comment-box, .create-comment {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 30px;
  margin: 50px 0;
}
.comment-box img, .create-comment img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.comment-title, #title-form {
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.05em;
margin-top: 20px;
border: none;
  outline: none;
  resize: none;
}
.comment-write, #write-form {
  border: none;
    outline: none;
    resize: none;
}
select, .js-option {
  width: 79.53px;
  height: 39.11px;
  background: #4EDCD8;
  border-radius: 50px;
  border: none;
  color: black;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
    text-overflow: '';
}

.mbti-tag {
  width: 80px;
  background: #4EDCD8;
  border-radius: 50px;
  text-align: center;
}
.enneagram-tag {
  width: 80px;
  border-radius: 50px;
  text-align: center;
  background: #13A6A2;
  color: white;
}
.op3, .zodiac-tag {
  background: url("https://i.ibb.co/Yb7L4QD/space.png");
  background-color: #100d44;
  color: white;
}
.zodiac-tag {
  width: 80px;
  text-align: center;
  border-radius: 50px;
}
#write-form, .comment-content {
  margin-top: 24px;
}
.op-30 {
  opacity: 0.3
}
.js-option {
  border-radius: unset;
  background: #13A6A2;
}
.radio {
display: none;
}
.wing {
  margin-bottom: -3px;
  height: 20px !important;
  width: 20px !important;
}
.js-option {
  width: 100px;
}
.tag-box {
  margin-right: 12px;
}
#select-op-btn {
  border-radius: 50px;
  height: unset;
  width: 100px;
  color: white;
  padding: 5px;
  cursor: pointer;
}
ul#options {
  list-style-type: none;
  font-size: 0px;
  border-color: #F2F2F2;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  margin-left: -1px;
  position: absolute;
  
}
ul#options li label {
  width: 110px;
  font-size: 16px;
  display: block;
}
.last {
  border-radius: 0px 0px 20px 20px;
}
ul#options li label:hover {
  background-color: #1e90ff;
}
ul#options li {
  width: 112px;
}
.js-drop {
  display: none;
}
.js-option {
  display: inline-block;
}
label {
  cursor: pointer;
}
.default{
  color:#AAA;
}
.space{
  padding:15px 0;
}
.submit-btn {
  cursor: pointer;
  width: 40px !important;
  height: 29px !important;
  float: right;
  padding-bottom: 24px;
}

.no-comments {
  display: none;
  left: 50%;
  right: 50%;
  margin-top: 10%;
  position: relative;
}
.name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  margin-left: 12px;
}

.comment-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.create-comment {
  display: none;
}
.liked {
  color: #4EDCD8 !important;
}
.not-liked {
  color: #6B6A6A;
}
.loader  {
  animation: rotate 2s infinite;  
  height: 50px;
  width: 50px;
  display: none;
  left: 50%;
  right: 50%;
  margin-top: 10%;
  position: relative;
}
.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}
@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
@media only screen and (max-width: 720px) { 
  html body {
    overflow-x: hidden;
  }
  .comment-box, .create-comment {
    max-width: 315px;
    padding: 16px 20px;
    text-align: left;
  }
  .comment-box img {
    height: 70px;
  }
  .main-container {
    padding: 12px;
    text-align: center;
  }
  .mbti-tag, .zodiac-tag, .enneagram-tag {
    padding: 2px 20px;
  }
  .sqs-col:last-child {
    padding-right: 20px;
  }
  .zodiac-last {
    padding-right: 0px !important;
  }
  .vote {
    width: 150px;
    height: 50px;
    margin-right: 20px;
  }
  .loader {
    left: 45%;
  }
}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<script>
  //changing the styling of the fake dropdown
  var flag = true;
  function changeOpacity(value) {
    document.querySelector("." + value).classList.remove("op-30")
  }
  function changeBorder() {
    let fakeDrop = document.getElementById("select-op-btn")
    fakeDrop.style.borderRadius = flag ? "20px 20px 0 0" : "50px";
    flag = !flag;
  }
  //replace the value and put wings image
  function replaceValue(ids, fn, sn) {
    document.getElementById(ids).value = fn +" <img class='wing' src='https://i.ibb.co/G9mp8N6/wing.png'> " + sn;
  }
  //make a fake dropdown using external library since the image is not supported in dropdown
  $('input').on('change', function () {
      $('#select-op-btn').html(this.checked ? this.value : '');
      document.getElementById("select-op-btn").style.borderRadius = "50px";
      flag = !flag;
    });

    $('.js-option').on('click', function () {
      $("#options").toggleClass("js-drop");
    });
</script>

<script>
//add styling to the main filters
let filterContainer = document.getElementById("filters");
let filterButtons = filterContainer.getElementsByClassName("filter");
for (let i = 0; i < filterButtons.length; i++) {
  filterButtons[i].addEventListener("click", function () {
    let current = document.getElementsByClassName("activeLink");
    current[0].className = current[0].className.replace(" activeLink", "");
    this.className += " activeLink";
  });
} 
//generate fake data
var persons = [
  {
    id: 1,
    class: "c1",
    name: 'Amber Heard',
    title: 'comment title 1',
    image: 'https://news.artnet.com/app/news-upload/2020/10/3663959-256x256.jpg',
    mbti: '',
    enneagram: '',
    zodiac: '',
    likes: '23',
    comment: 'I am innocent',
    likeStatus: false,
    date: "2022-05-25"
  },
  {
    id: 2,
    class: "c2",
    name: 'Elon Musk',
    title: 'comment title 2',
    image: 'https://cachedimages.podchaser.com/256x256/aHR0cHM6Ly9jcmVhdG9yLWltYWdlcy5wb2RjaGFzZXIuY29tL2RmODZjM2RjZTg5ZDI2ZGQzZWI5NWU4YzI1MDBhMTIyLmpwZWc%3D/aHR0cHM6Ly93d3cucG9kY2hhc2VyLmNvbS9pbWFnZXMvbWlzc2luZy1pbWFnZS5wbmc%3D',
    mbti: 'ISFJ',
    enneagram: "5 <img class='wing' src='https://i.ibb.co/G9mp8N6/wing.png'> 6",
    zodiac: '',
    likes: '42',
    comment: "Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum",
    likeStatus: false,
    date: "2022-05-28"
  },
  {
    id: 3,
    class: "c3",
    name: 'Cara Delevingne',
    title: 'comment title 3',
    image: 'https://pbs.twimg.com/profile_images/647770064804941824/7fkUyIfK_400x400.jpg',
    mbti: 'ENFP',
    enneagram: "9 <img class='wing' src='https://i.ibb.co/G9mp8N6/wing.png'> 1",
    zodiac: 'Aries',
    likes: '68',
    comment: 'It was fun',
    likeStatus: false,
    date: "2022-05-27"
  },
]

let target = document.getElementById("comment-section")

//sort by likes and date
function compareLikes(a, b) {
  if (a.likes < b.likes) {
    return 1;
  }
  if (a.likes > b.likes) {
    return -1;
  }
  return 0;
}

function compareDates(a, b) {
  if (a.date < b.date) {
    return 1;
  }
  if (a.date > b.date) {
    return -1;
  }
  return 0;
}

//clear the data
function clear() {
  let commentBox = document.querySelectorAll(".comment-box");
  if (commentBox) {
    commentBox.forEach(box => {
      box.remove();
    });
  }
  document.querySelector(".no-comments").style.display = "none";
}
//set a state management variable to watch the changes
var currentValue = "all"
var currentResult = "all"
//main function to load comments
function loadComments(value) {
  document.querySelector(".create-comment").style.display = "none";
  clear()
  var result = "all"
  currentValue = value
  if(currentValue !="all") {
    result = persons.filter(obj => {
    return obj[value] != '';
  })
  } else {
    result = persons
  }
  currentResult = result
  document.querySelector(".loader").style.display = "block";
  setTimeout(function () {
    document.querySelector(".loader").style.display = "none";
    render(result)
  } , 1000)
}
//fetch comments and sort it by number of likes and dates
function showBest() {
  loadComments(currentValue)
  document.querySelector(".recent").classList.remove("activeToggle");
  document.querySelector(".best").classList.add("activeToggle");
  document.querySelector(".loader").style.display = "block";
  setTimeout(function () {
    clear()
    document.querySelector(".loader").style.display = "none";
    render(currentResult.sort(compareLikes))
  } , 1000)
}

function showRecent() {
  loadComments(currentValue)
  document.querySelector(".best").classList.remove("activeToggle");
  document.querySelector(".recent").classList.add("activeToggle");
  document.querySelector(".loader").style.display = "block";
  setTimeout(function () {
    clear()
    document.querySelector(".loader").style.display = "none";
    render(currentResult.sort(compareDates))
  }, 1000)
}
//main rendering function to display comments on the screen  
function render(currentSort) {
  if(currentSort.length === 0) {
    document.querySelector(".no-comments").style.display = "block";
  }
  for (person = 0; person < currentSort.length; person++) {
  let newDiv = document.createElement("div");
  newDiv.className = "comment-box";
  newDiv.innerHTML = `
    <div class="row sqs-row">
      <img src="${currentSort[person].image}" class="col sqs-col">
        <div class="col sqs-col"><p class="name">${currentSort[person].name}</p></div>
    </div>

    <div class="comment-content">
      <div class="comment-description"><p class="comment-title">${currentSort[person].title}</p></div>
    </div>

    <div class="tags row sqs-row">
      <div class="tag-box col sqs-col ${currentSort[person].mbti ? 'mbti-tag' : ''}">
        ${currentSort[person].mbti}
      </div>

      <div class="tag-box col sqs-col ${currentSort[person].enneagram ? 'enneagram-tag' : ''}">
        ${currentSort[person].enneagram}
      </div>
      
      <div class="tag-box col sqs-col zod ${currentSort[person].zodiac ? 'zodiac-tag' : ''}">
        ${currentSort[person].zodiac}
      </div>
    </div>

    <div class="comment-content">
      ${currentSort[person].comment}
    </div>

    <div class="likes">
      <div class="like-box row sqs-row"">
        <a onclick="like(${currentSort[person].id})" class="${currentSort[person].likeStatus ? 'liked' : 'not-liked'} col sqs-col" style="margin: 16px 12px 0 0; color: #6B6A6A">&#10084;</a>
        <p id="${currentSort[person].class}" class="like-count col sqs-col">${currentSort[person].likes}</p>
      </div>
    </div>
  `
  target.appendChild(newDiv);
 }
}

function displayVote() {
  document.querySelector(".create-comment").style.display = "block";
}
//like function to add likes and stlye heart icon
function like(id) {
  objIndex = persons.findIndex((obj => obj.id == id))
  let data = document.getElementById(persons[objIndex].class)
  let sibling = data.previousElementSibling;
  persons[objIndex].likeStatus = !persons[objIndex].likeStatus
  if (persons[objIndex].likeStatus) {
    persons[objIndex].likes++
    sibling.style.color = "#4EDCD8";
  } else {
    persons[objIndex].likes--
    sibling.style.color = "#6B6A6A";
    sibling.classList.remove("liked");
  }
  data.innerHTML = persons[objIndex].likes
}
//add data to the fake data object
function submitForm() {
  console.log("submitting")
  let newObject
  let newRadio
  let mbti = document.getElementById("mbti-form selection")
  let zodiac = document.getElementById("zodiac-form selection");
  let radio = document.querySelector('input[name="radioValue"]:checked').value;
  let title = document.getElementById("title-form");
  let comment = document.getElementById("write-form");
  if(!radio) {
    newRadio = ''
  } else {
    newRadio = radio
  }
  console.log(newRadio)
  console.log(mbti.value)
  console.log(zodiac.value)
  console.log(title.value)
  console.log(comment.value)

  newObject = {
    id: persons.length + 1,
    image: 'https://img.thedailybeast.com/image/upload/dpr_2.0/c_crop,h_1688,w_1688,x_694,y_0/c_limit,w_128/d_placeholder_euli9k,fl_lossy,q_auto/v1642795426/johnny_depp_zwjvzb',
    name: "Johnny Depp",
    title: title.value,
    comment: comment.value,
    mbti: mbti.value,
    enneagram: newRadio,
    zodiac: zodiac.value,
    likes: 0,
    likeStatus: false,
    date: new Date().toLocaleString()
  }
  persons.push(newObject)
  console.log(persons.length)
  showRecent()
}
//render comments on page load
render(persons.sort(compareLikes))
</script>