<div>
  <div class="flex">
    <div class="comments">Comments</div>
    <button class="vote" onclick="displayVote()">VOTE/COMMENT</button>
  </div>
  <div>
    <div id="filters">
      <a class="filter activeLink" onclick="loadComments('all')">All</a>
      <a class="filter" onclick="loadComments('mbti')">MBTI</a>
      <a class="filter" onclick="loadComments('enneagram')">Enneagram</a>
      <a class="filter" onclick="loadComments('zodiac')">Zodiac</a>
    </div>
  
    <div class="toggles">
      <button class="toggleButton activeToggle best" onclick="showBest()">best</button>
      <button class="toggleButton recent" onclick="showRecent()">recent</button>
    </div>
    
    <div id="comment-section">
      <div class="create-comment">
        <div class="row sqs-row">
          <img src="https://img.thedailybeast.com/image/upload/dpr_2.0/c_crop,h_1688,w_1688,x_694,y_0/c_limit,w_128/d_placeholder_euli9k,fl_lossy,q_auto/v1642795426/johnny_depp_zwjvzb" class="col sqs-col">
          <div class="col sqs-col">
            <p class="name">Johnny Depp</p>
          </div>
        </div> 
        
        <div class="comment-content">
          <div class="comment-description">
            <textarea class="comment-title" rows="2" cols="50">Title</textarea>
          </div>
        </div>
        
        <div class="tags row sqs-row">
          <div class="tag-box col sqs-col">
            <select>
            <option>INFP</option>
            <option>INFJ</option>
            <option>ENFP</option>
            <option>ENFJ</option>
            <option>INTJ</option>
            <option>INTP</option>
            <option>ENTP</option>
            <option>ENTJ</option>
            <option>ISFP</option>
            <option>ISFJ</option>
            <option>ESFP</option>
            <option>ESFJ</option>
            <option value="">ISTP</option>
            <option value="">ISTJ</option>
            <option value="">ESTP</option>
            <option value="">ESTJ</option>
          </select>
          </div>
       
          <div class="tag-box col sqs-col wing">
         
            <select>
              <option>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</option>
              <option>2w3</option>
              <option>3w2</option>
              <option>3w4</option>
              <option>4w3</option>
              <option>4w5</option>
              <option>5w4</option>
              <option>5w6</option>
              <option>6w5</option>
              <option>6w7</option>
              <option>7w6</option>
              <option>7w8</option>
              <option value="">8w7</option>
              <option value="">8w9</option>
              <option value="">9w8</option>
              <option value="">9w1</option>
            </select>
            
          </div>
        
        
          <div class="tag-box col sqs-col">
            <select name="" id="">
              <option>Aries</option>
              <option>Taurus</option>
              <option>Gemini</option>
              <option>Cancer</option>
              <option>Leo</option>
              <option>Virgo</option>
              <option>Libra</option>
              <option>Scorpio</option>
              <option>Sagittarius</option>
              <option>Capricorn</option>
              <option>Aquarius</option>
              <option>Pisces</option>
            </select>
          </div>

          <div class="tag-box col sqs-col fake">
          <div class="dd-container">
            <p>Radio buttons be can (and should) be hidden.</p>
            <form class="space" action="">
          
              <input type="radio" id="item-1" name="item-1" value="Option One">
              <input type="radio" id="item-2" name="item-1" value="Option Two">
              <input type="radio" id="item-3" name="item-1" value="Option Three">
              <input type="radio" id="item-4" name="item-1" value="Option Four">
          
          
              <div class="select_box">
                <span id="select-op-btn" class="default js-option">1 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png">2</span>
                <ul id="options" class="js-drop">
                  <li>
                    <label for="item-1" class="js-option">1 <img class="wing" src="https://i.ibb.co/G9mp8N6/wing.png"> 2 </label> 
                  </li>
                  <li>
                    <label for="item-2" class="js-option">Option Two</label>
                  </li>
                  <li>
                    <label for="item-3" class="js-option">Option Three</label>
                  </li>
                  <li>
                    <label for="item-4" class="js-option">Option Four</label>
                  </li>
                </ul>
              </div>
            </form>
          </div>
          </div>
        </div>
        
        <div class="comment-content">
          <textarea class="comment-write" rows="5" cols="50">Comment Here</textarea>
        </div>
        
      
      </div>
      <div class="no-comments">No Data Found</div>
      <div class="loader"></div>
    </div>
  </div>
</div>




</div>



<style scoped>
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vote {
  width: 245px;
height: 60px;
color: white;
background: #4EDCD8;
border-radius: 50px;
border: none;
}
.toggles {
  margin-top: 20px;
}
#filters {
  margin-top: 24px;
}
#filters a {
  padding: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.activeLink, a:hover {
  color: #4EDCD8;
}
.toggleButton, .activeToggle {
  width: 88px;
  height: 42px;
  border: none;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.activeToggle {
  background: #4EDCD8;
  box-shadow: 0px 0px 10px #4EDCD8;
  color:  #FFFFFF
}
.comment-box, .create-comment {
width: 100%;
height: 100%;
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
border-radius: 50px;
padding: 30px;
margin: 50px 0;
}

.comment-box img, .create-comment img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.select_box img {
  width: 20px;
  height: 20px;
}

.comment-title {
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.05em;
margin-top: 20px;
border: none;
    outline: none;
    resize: none;
}

.comment-write {
  border: none;
    outline: none;
    resize: none;
}

select, .js-option {
  width: 79.53px;
height: 39.11px;
background: #4EDCD8;
border-radius: 50px;
border: none;
color: white;
text-align: center;
-webkit-appearance: none;
  -moz-appearance: none;
text-indent: 1px;
  text-overflow: '';
}

.js-option {
  border-radius: unset;
}

.wing select, .wing select option {
 background-image:url('https://i.ibb.co/G9mp8N6/wing.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

}

.wing {
  margin-bottom: -3px;
}

.js-option {
  width: 100px;
}



#select-op-btn {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  height: unset;
  width: 100px;
  background-image: none !important;
  border: none !important;
}

.tag-box {
  margin-right: 12px;
}


/*fake drop down*/
.dd-container {
  width: 500px;
  padding: 15px;
  margin: 50px auto;
}

#select-op-btn {
  border: 1px solid #F2F2F2;
  display: block;
  padding: 5px;
  cursor: pointer;
  background-image: url('https://i.imgur.com/K5gtkay.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.select_box {
  box-sizing: border-box;
  margin: 30px 0;
}

ul#options {
  list-style-type: none;
  font-size: 0px;
  border-color: #F2F2F2;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  padding: 0px 5px;
}

ul#options li label {
  width: 100px;
  font-size: 16px;
  display: block;

}

ul#options li label:hover {
  background-color: #1e90ff;
}

ul#options li {
  
  width: 112px;
}


.js-drop {
  display: none;
}

.js-option {
  display: inline-block;
}

label {
  cursor: pointer;
}

.default{
  color:#AAA;
}

.space{
  padding:15px 0;
}

/*fake drop down end*/


.no-comments {
  display: none;
  left: 50%;
  right: 50%;
  margin-top: 10%;
  position: relative;
}

.name {
font-weight: 400;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.05em;
margin-left: 12px;
}

.comment-content {
  font-weight: 400;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.05em;
}

.create-comment {
  display: none;
}

.liked {
  color: #4EDCD8 !important;
}

.not-liked {
  color: #6B6A6A;
}

.loader  {
  animation: rotate 2s infinite;  
  height: 50px;
  width: 50px;
  display: none;
  left: 50%;
  right: 50%;
  margin-top: 10%;
  position: relative;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<script>
  $('input').on('change', function () {
      $('#select-op-btn').html(this.checked ? this.value : '');
      $('#select-op-btn').style.borderBottomRightRadius  = "0";
      $('#select-op-btn').style.borderBottomLeftRadius  = "0";
    });

    $('.js-option').on('click', function () {
      $("#options").toggleClass("js-drop");
    });
</script>

<script>



let filterContainer = document.getElementById("filters");
let filterButtons = filterContainer.getElementsByClassName("filter");
for (let i = 0; i < filterButtons.length; i++) {
  filterButtons[i].addEventListener("click", function () {
    let current = document.getElementsByClassName("activeLink");
    current[0].className = current[0].className.replace(" activeLink", "");
    this.className += " activeLink";
  });
} 

// function loader(passedFilter) {
//   document.querySelector(".loader").style.display = "block";
//   let loading = setTimeout(function() {
//     document.querySelector(".loader").style.display = "none";
//     passedFilter()
//   }, 1000)
// }



let persons = [
  {
    id: 1,
    class: "c1",
    name: 'Amber Heard',
    title: 'comment title 1',
    image: 'https://news.artnet.com/app/news-upload/2020/10/3663959-256x256.jpg',
    mbti: '',
    enneagram: '1w2',
    zodiac: '',
    likes: '23',
    comment: 'This is a comment',
    likeStatus: false,
    date: "2022-05-25"
  },
  {
    id: 2,
    class: "c2",
    name: 'Elon Musk',
    title: 'comment title 2',
    image: 'https://cachedimages.podchaser.com/256x256/aHR0cHM6Ly9jcmVhdG9yLWltYWdlcy5wb2RjaGFzZXIuY29tL2RmODZjM2RjZTg5ZDI2ZGQzZWI5NWU4YzI1MDBhMTIyLmpwZWc%3D/aHR0cHM6Ly93d3cucG9kY2hhc2VyLmNvbS9pbWFnZXMvbWlzc2luZy1pbWFnZS5wbmc%3D',
    mbti: 'ISFJ',
    enneagram: '2w3',
    zodiac: '',
    likes: '42',
    comment: 'This is a comment 2',
    likeStatus: false,
    date: "2022-05-28"
  },
  {
    id: 3,
    class: "c3",
    name: 'Cara Delevingne',
    title: 'comment title 3',
    image: 'https://pbs.twimg.com/profile_images/647770064804941824/7fkUyIfK_400x400.jpg',
    mbti: 'ENFP',
    enneagram: '',
    zodiac: '',
    likes: '68',
    comment: 'This is a comment 3',
    likeStatus: false,
    date: "2022-05-27"
  },
]

let target = document.getElementById("comment-section")

function compareLikes(a, b) {
  if (a.likes < b.likes) {
    return 1;
  }
  if (a.likes > b.likes) {
    return -1;
  }
  return 0;
}

function compareDates(a, b) {
  if (a.date < b.date) {
    return 1;
  }
  if (a.date > b.date) {
    return -1;
  }
  return 0;
}

  // let sortBest = persons.sort(compareLikes);
  // let sortRecent = persons.sort(compareDates);



  // let sortBest = persons.sort(function (a, b) {
  //     return a.likes.localeCompare(b.likes)
  //   });
  // let sortRecent = persons.sort(compareDates);

function clear() {
  let commentBox = document.querySelectorAll(".comment-box");
  if (commentBox) {
    commentBox.forEach(box => {
      box.remove();
    });
  }
  document.querySelector(".no-comments").style.display = "none";
}

var currentValue = "all"
var currentResult = "all"
function loadComments(value) {
  document.querySelector(".create-comment").style.display = "none";
  clear()
  
  var result = "all"
  currentValue = value
  if(currentValue !="all") {
    result = persons.filter(obj => {
    return obj[value] != '';
  })
  } else {
    result = persons
  }
  currentResult = result
  document.querySelector(".loader").style.display = "block";
  setTimeout(function () {
    document.querySelector(".loader").style.display = "none";
    render(result)
  } , 1000)
}

function showBest() {
  loadComments(currentValue)
  document.querySelector(".recent").classList.remove("activeToggle");
  document.querySelector(".best").classList.add("activeToggle");
  document.querySelector(".loader").style.display = "block";
  setTimeout(function () {
    clear()
    document.querySelector(".loader").style.display = "none";
    render(currentResult.sort(compareLikes))
  } , 1000)
  
  
}

function showRecent() {
  loadComments(currentValue)
  document.querySelector(".best").classList.remove("activeToggle");
  document.querySelector(".recent").classList.add("activeToggle");
  document.querySelector(".loader").style.display = "block";
  setTimeout(function () {
    clear()
    document.querySelector(".loader").style.display = "none";
    render(currentResult.sort(compareDates))
  }, 1000)
}
  
// function load(value) {
//   document.querySelector(".loader").style.display = "block";
//   clear()
//   setTimeout(function () {
//     document.querySelector(".loader").style.display = "none";
//       render(value)
//   } , 1000)
// }



function render(currentSort) {
  if(currentSort.length === 0) {
    document.querySelector(".no-comments").style.display = "block";
  }
  for (person = 0; person < currentSort.length; person++) {
  let newDiv = document.createElement("div");
  newDiv.className = "comment-box";
  newDiv.innerHTML = `
    <div class="row sqs-row">
      <img src="${currentSort[person].image}" class="col sqs-col">
        <div class="col sqs-col"><p class="name">${currentSort[person].name}</p></div>
    </div>

    <div class="comment-content">
      <div class="comment-description"><p class="comment-title">${currentSort[person].title}</p></div>
    </div>

    <div class="tags row sqs-row">
      <div class="tag-box col sqs-col">
        <p class="tag-text">${currentSort[person].mbti}</p>
      </div>

      <div class="tag-box col sqs-col">
        <p class="tag-text">${currentSort[person].enneagram}</p>
      </div>
      

      <div class="tag-box col sqs-col">
        <p class="tag-text">${currentSort[person].zodiac}</p>
      </div>
    </div>

    <div class="comment-content">
      ${currentSort[person].comment}
    </div>

    <div class="likes">
      <div class="like-box row sqs-row"">
        <a onclick="like(${currentSort[person].id})" class="${currentSort[person].likeStatus ? 'liked' : 'not-liked'} col sqs-col" style="margin: 16px 12px 0 0; color: #6B6A6A">&#10084;</a>
        <p id="${currentSort[person].class}" class="like-count col sqs-col">${currentSort[person].likes}</p>
        <div class="col sqs-col"><p class="name">${currentSort[person].date}</p></div>
      </div>
    </div>
  `
  target.appendChild(newDiv);
 }
}

  function displayVote() {
    document.querySelector(".create-comment").style.display = "block";
  }




function like(id) {
  objIndex = persons.findIndex((obj => obj.id == id))
  let data = document.getElementById(persons[objIndex].class)
  let sibling = data.previousElementSibling;
  persons[objIndex].likeStatus = !persons[objIndex].likeStatus
  if (persons[objIndex].likeStatus) {
    persons[objIndex].likes++
    sibling.style.color = "#4EDCD8";
  } else {
    persons[objIndex].likes--
    sibling.style.color = "#6B6A6A";
    sibling.classList.remove("liked");
  }
  data.innerHTML = persons[objIndex].likes
}








  // <div class="tags">
  //   <select class="select-tag">
  //     <option value="">Select a Tag</option>
  //     <option value="mbti">MBTI</option>
  //     <option value="enneagram">Enneagram</option>
  //     <option value="zodiac">Zodiac</option>
  //   </select>
  // </div>

  render(persons.sort(compareLikes))
</script>